@import '../styles/variables';
@import '../styles/mixins.scss';

* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    @include flexrow;
  gap: $indent__base;
 
  @include responsive-tablet {
    padding: 0 $indent__m;
  }
 
  img {
    height: auto;
    width: 100%;
  }
 
  &__icon,
  &__avatar {
    display: none;
 
    @include responsive-tablet() {
      display: block;
      width: 150px;
    }
  }
 
  &__logo {
    flex-grow: 1;
 
    @include responsive-tablet {
      padding: 0 $indent__xxl;
    }
  }
}

.nav_menu {
    @include flexrow;
    padding:$indent__base;
    flex-wrap: wrap;
    max-width: 100%;

    @include responsive_tablet {
        @include page_layout($indent__l, auto);
    }
        background-color: $background-primary;

        &__links {
            @include link-style;

            &__home {
                @include link-style($color-bright-sun);
            }

            &__pokemon {
                @include link-style($color-malibu);
            }

            &__types {
                @include link-style($color-minsk);
            }

            &__about {
                @include link-style($color-bright-sun);
            }
        }
    
}

.container {
    flex-grow: 1;
    border: 2px solid gray;
    margin: 0px 64px 0px 64px;
}

.pokemon_grid {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    @include responsive_desktop {
        display: grid;
        grid-template: repeat(3, 1fr)/repeat(3, 1fr);
        grid-template-areas: ". . ."
            "featured featured ."
            "featured featured .";
        justify-items: center;
        align-items: center;
        max-width: fit-content;
        min-height: 900px;
        max-height: fit-content;
        padding: $indent__s;
        margin: $indent__m auto;

        &_featured {
            grid-area: featured;
            display: flex;
            flex-direction: column;
            justify-items: space-between;
            align-items: center;
            margin: 32px;
        }
    }

    &_reverse {
        display: flex;
        flex-direction: column-reverse;
    }


}

.grid_container {

    text-align: center;
    align-items: center;
    padding: $indent__s;
    margin: $indent__s;
    border: 1px solid gray;
    

    &:hover {
        transform: translateY(10px);
    }

    &_image {
        height: auto;
        width: 50%;

        @include responsive_desktop {
            padding: $indent__s;
            height: auto;
            width: 100%;
        }
    }

    &_title {
        padding: $indent__s;
        text-align: center;
        display:flex;
        justify-content: center;
        max-width:max-content;
    }

    &_red {
        @include pokeNameBg($color-torch-Red);
    }

    &_minsk {
        @include pokeNameBg($color-minsk);
    }

    &_bright_sun {
        @include pokeNameBg($color-bright-sun);
    }

}

.footer {
    padding: $indent__s;
    text-align: center;
    font-size: 1.5rem;

    &_content {
        padding: $indent__xxxl;
    }
}